.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import '~semantic-ui-css/semantic.css';

.container-h{
  padding-top: 10px !important; 
}

.header{
  padding-top: 20px !important;
}

.header-h1{
  margin-top: 5px !important;
  padding-top: 0px !important;
}

.message-home{
  padding-top: 0px !important;
}

.logo{
  width: 50px !important;
}

.image-home{
  width: 40px !important;
}

.footer{
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.er{
  text-align: 'center' !important
}